.animate {
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate.forever {
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animate.once {
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
       -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animate.half-second {
  -webkit-animation-duration: 0.5s;
     -moz-animation-duration: 0.5s;
       -o-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.animate.one-second {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
}

.animate.two-seconds {
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
}

.animate.three-seconds {
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;
}

.animate.four-seconds {
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
       -o-animation-duration: 4s;
          animation-duration: 4s;
}

.animate.five-seconds {
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
}

.animate.six-seconds {
  -webkit-animation-duration: 6s;
     -moz-animation-duration: 6s;
       -o-animation-duration: 6s;
          animation-duration: 6s;
}

.animate.seven-seconds {
  -webkit-animation-duration: 7s;
     -moz-animation-duration: 7s;
       -o-animation-duration: 7s;
          animation-duration: 7s;
}

.animate.eight-seconds {
  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
}

/********************************************
 * Rotate 
 ********************************************/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
  }

  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform-origin: center center;
    transform: rotate(0);
  }

  100% {
    transform-origin: center center;
    transform: rotate(360deg);
  }
}

.animate.rotate {
  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;

  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}


/********************************************
 * Rotate and Fade 
 ********************************************/
@-webkit-keyframes killed {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(360deg);
    opacity: 0;
  }
}

@-moz-keyframes killed {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(360deg);
    opacity: 0;
  }
}

@-o-keyframes killed {
  0% {
    -o-transform-origin: center center;
    -o-transform: rotate(0);
    opacity: 1;
  }

  100% {
    -o-transform-origin: center center;
    -o-transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes killed {
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: center center;
    transform: rotate(360deg);
    opacity: 0;
  }
}

.animate.killed {
  -webkit-animation-name: killed;
     -moz-animation-name: killed;
       -o-animation-name: killed;
          animation-name: killed;

  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}

