body {
  overflow: hidden;
  background: black url('/images/paper_fibers.png') repeat;
}

#arena {
  position: relative;
  width: 750px;
  height: 630px;
  margin: 10px auto;
  overflow: hidden;
  background: white url('/images/white_paperboard.png') repeat;
  box-shadow: -2px 2px 10px #999;
  text-align: center;
}

#dialog {
  display: none;
  position: absolute;
  left: 50%;
}
  #content {
    position: relative;
    left: -50%;
    margin: 40px 40px;
    padding: 20px 20px 0.25px 20px;
    text-align: left;
    z-index: 1000;
    min-width: 200px;
    background-color: rgba(140, 200, 240, 0.8);
  }
    #dialog h1 {
      font-size: 32px;
      margin-bottom: 20px;
      text-align: center;
    }
    #dialog p {
      margin-bottom: 20px;
      line-height: 24px;
      font-size: 12px;
    }
    #dialog a {
      display: block;
      text-align: center;
      text-decoration: none;
      margin-bottom: 20px;
      width: 250px;
      margin: 0 auto 20px auto;
      background-color: #000;
      padding: 10px;
      border-radius: 3px;
      color: #4ae;
    }



.cell {
  position: absolute;
  border: 1px dotted red;
}
.cell.active {
  background-color: rgba(255, 0, 0, 0.5);
  opacity: 0.2;
}
.emitter {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid red;
}

#console {
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 10px;
  border: 1px dashed cyan;
}

.entity {
  position: absolute;
}

#player {
  width: 20px;
  height: 20px;
  background: transparent url('/images/player.png') no-repeat center center;
}

#token {
  line-height: 26px;
  font-size: 12px;
  text-align: center;
  border: 3px dashed purple;
  width: 26px;
  height: 26px;
}

#nexus {
  width: 80px;
  height: 80px;
  background: transparent url('/images/nexus.png') no-repeat center center;
}
#nexus.primed {
  background: transparent url('/images/primed-nexus.png') no-repeat center center;
}
#nexus #primer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -13px;
  width: 26px;
  height: 16px;
  text-align: center;
  border: 1px dotted red; 
}

  #nexus .core {
    position: absolute;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    background: transparent url('/images/core.png') no-repeat center center;
  }
  #nexus .core:nth-child(1) { top: 0; left: 50%; margin-left: -12px; }
  #nexus .core:nth-child(2) { bottom: 0; left: 0; }
  #nexus .core:nth-child(3) { bottom: 0; right: 0; } 

  #nexus.health-2 .core:nth-child(1) { background-image: none; }

  #nexus.health-1 .core:nth-child(1) { background-image: none; }
  #nexus.health-1 .core:nth-child(2) { background-image: none; }

  #nexus.health-0 .core:nth-child(1) { background-image: none; }
  #nexus.health-0 .core:nth-child(2) { background-image: none; }
  #nexus.health-0 .core:nth-child(3) { background-image: none; }

.entity.bullet {
  width: 8px;
  height: 8px;
  background: transparent url('/images/bullet.png') no-repeat center center;
}

.entity.enemy {
  width: 20px;
  height: 20px;
  background: transparent url('/images/enemy.png') no-repeat center center;
}
.entity.enemy.seeker {
  background: transparent url('/images/seeker.png') no-repeat center center;
}
