<h1>Game Over</h1>

<p>You lost all of the cores of your nexus.  Too bad!  Try again :)</p>

<a href="javascript:void(0);" data-action="retry">Retry</a>


<a href="javascript:void(0);" data-action="instructions">Instructions</a>
