<h1>Instructions</h1>

<div style="text-align:center;">
  <div style="position:relative; width:300px;">
    <div style="float:left; width:100px;">
      <img src="/images/wasd.png" /><br>
      <p style="text-align:center;">
        keys to move
      </p>
    </div>
    <div style="float:right; width:100px;">
      <img src="/images/arrows.png" /><br>
      <p style="text-align:center;">
        keys to shoot
      </p>
    </div>
  </div>
</div>

<div style="clear:both;"></div>

<p>Collect the numbered tokens while avoiding and shooting the enemy squares.</p>
<p>Don't let them touch you or your nexus!</p>
<p>Get 10 tokens to advance to the next level.</p>

<a href="javascript:void(0);" data-action="start">Start</a>
